* {
    margin: 0;
    padding: 0;
}

/* attempted background color scheme */
/*
body {
    background: linear-gradient(to bottom, #9c9b98, #b3b2ae, #c9c8c5, #dcdad6, #f0eee9 );
}
*/

header {
    height: 120px;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
}

.heading {
    font-size: 40px;
    padding-bottom: 5px;
}

.subheading {
    font-size: 1.3rem;
}

.color-fonts-container {
    padding-top: 10px;
    height: 500px;
    width: 100%;
    display: flex; 
}

.color-left {
    border: solid 1px black;
    height: 540px;
    width: 50%;
}

.colors {
    /* display: flex;
    justify-content: space-around; */ 
    width: 80%;
    align-items: center;

    /* assess padding styles */
    padding-top: 5%;
    padding-left: 10%;
}

/* Individual Color Styling */

.deep-sky-blue {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: solid 1px #5cc8ff;
    border-radius: 5px;
    background-color: #5cc8ff;
    margin: 10px;
    /* font color? */ 
}

.deep-sky-blue p {
    padding: 10px;
}

.cinereous {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: solid 1px #93867F;
    border-radius: 5px;
    background-color: #93867F;
    margin: 10px;
    /* font color? */ 
}

.cinereous p {
    padding: 10px;
}

.black-olive {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: solid 1px #343633;
    border-radius: 5px;
    background-color: #343633;
    color: lightgray;
    margin: 10px;
}

.black-olive p {
    padding: 10px;
}

.amethyst {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: solid 1px #7D70BA;
    border-radius: 5px;
    background-color: #7D70BA;
    color: white;
    margin: 10px;
}

.amethyst p {
    padding: 10px;
}

.mauve {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: solid 1px #dec1ff;
    border-radius: 5px;
    background-color: #DEC1FF;
    margin: 10px;
    /* font color? */ 
}

.mauve p {
    padding: 10px;
}