* {
    margin: 0;
    padding: 0;
}

/* attempted background color scheme */
/*
body {
    background: linear-gradient(to bottom, #9c9b98, #b3b2ae, #c9c8c5, #dcdad6, #f0eee9 );
}
*/

header {
    height: 120px;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
}

.heading {
    font-size: 40px;
    padding-bottom: 5px;
}

.subheading {
    font-size: 1.3rem;
}

/*   COLORS SECTION */

.color-fonts-container {
    padding-top: 10px;
    height: 600px;
    width: 100%;
    display: flex;
}

.color-left {
    border: solid 1px black;
    height: 540px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;

}

.colors {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* GLOBAL STYLING FOR COLOR ELEMENTS */ 

.deep-sky-blue,
.cinereous,
.black-olive,
.amethyst,
.mauve {
    display: flex;
    height: 80px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.deep-sky-blue {
    border: solid 1px #5CC8FF;
    background-color: #5CC8FF;
}

.cinereous {
    border: solid 1px #93867F;
    background-color: #93867F;
}

.black-olive {
    border: solid 1px #343633;
    background-color: #343633;
    color: white;
}

.amethyst {
    border: solid 1px #7D70BA;
    background-color: #7D70BA;
    color: white;
    margin: 10px;
}

.mauve {
    border: solid 1px #DEC1FF;
    background-color: #DEC1FF;
}

.color-text {
    font-size: 18px;
}

/* FONTS SECTION */ 

.fonts-right {
    border: solid 1px black;
    height: 500px;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px
}